.light-theme {
  --bg: hsl(0, 0%, 98%);
  --primary: hsl(200, 15%, 8%);
  --secondary: hsl(0, 0%, 100%);
  --boxShadow: rgba(0, 0, 0, 0.03) 0px 0px 3px 3px;
}

.dark-theme {
  --bg: hsl(207, 26%, 17%);
  --primary: hsl(0, 0%, 100%);
  --secondary: hsl(209, 23%, 22%);
  --boxShadow: rgba(9, 9, 9, 0.27) 0px 7px 6px -4px;
}

body {
  background: var(--bg);
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans';
  box-sizing: border-box;
}